[
    {hecate_app_meshviewd, [
        {data_dir, "~/.hecate/hecate-app-meshviewd"},
        {poll_interval_ms, 10000}
    ]},

    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                level => info,
                formatter => {logger_formatter, #{
                    template => [time, " [", level, "] ", msg, "\n"]
                }}
            }}
        ]}
    ]}
].
